<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var TxtRotate = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtRotate.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1); //per procedere un carattere alla volta
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt.slice(0, 6) + '<br>' + this.txt.slice(6) + '</span>';

            var that = this;
            var delta = 170 - Math.random() * 100; //speed

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                $(".container").first().hide();
                $("#overlay").hide();

                $(".flex-container").first().fadeIn(800);
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
                return;
            }

            setTimeout(function () {
                that.tick();
            }, delta);

        };

        $(window).click(function () {
            $(".container").first().hide();
            $("#overlay").hide();
            $(".flex-container").first().fadeIn(800);
        });


        window.onload = function () {

            if (window.sessionStorage) {
                if (!sessionStorage.getItem('firstLoad')) {
                    console.log(sessionStorage,"if");
                    sessionStorage['firstLoad'] = true;
                    let nav = $(".flex-container").first();
                    nav.hide();

                    var css = document.createElement("style");
                    let containers = document.getElementsByClassName("container");
                    let dim = containers[0].getBoundingClientRect();
                    let width = Math.round(dim.width) + 10;

                    css.type = "text/css"
                    css.innerHTML = '.container { width: ' + width + 'px}';
                    document.body.appendChild(css);
                    $("#dim").hide();

                    var elements = document.getElementsByClassName('txt-rotate');
                    for (var i = 0; i < elements.length; i++) {
                        var toRotate = elements[i].getAttribute('data-rotate');
                        var period = elements[i].getAttribute('data-period');
                        if (toRotate) {
                            new TxtRotate(elements[i], JSON.parse(toRotate), period);
                        }
                    }

                    // INJECT CSS

                    css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 } .container {width: " + width + "px}";
                    document.body.appendChild(css);

                }
                else {
                    console.log(sessionStorage,"else");
                    $(".container").first().hide();
                    $("#overlay").hide();
                    $(".flex-container").first().show();

                }

            }


        };




    </script>
    <div id="overlay">

    </div>
    <div class="container" id="splash">
        <h1 id ="animation">
            <span class="txt-rotate" data-period="1800" data-rotate='["Hello, call me Frank."]'></span>
        </h1>
        <h1 class="big-link" id="dim">
            <span>Hello,<br> call me Frank.</span>
        </h1>
    </div>
    <nav role="navigation" class="flex-container" id="splash">
        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
        <a href="{{.link}}" class="big-link">
            {{.text}}
        </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
        <a href="{{.RelPermalink}}" class="big-link">
            {{.Title | markdownify}}
        </a>
        {{ end }}
        {{ end }}

    </nav>
</body>

</html>