{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<nav role="navigation">
    <ul>
        {{ range sort .Data.Pages ".Params.endDate" "desc"}}
        <li>
           
            {{ if .Params.endDate }}
            {{ dateFormat "Jan, 2006" .Params.startDate}} - {{ dateFormat "Jan, 2006" .Params.endDate}} --
            {{ else if .Params.startDate}}
            {{ dateFormat "Jan, 2006" .Params.startDate}} - ongoing --
            {{ end }}

            <a href="{{.RelPermalink}}">
                {{.Title | markdownify}} <!--{{.Params.subTitle | markdownify}}-->
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}